/* Hide navigation elements */
#top-wrap,
#mw-js-message,
#nav-meta,
#bottom-wrap {
	display:none;
}

/* Ensure footer text with URL isn't justified or affected by floats */
.printfooter {
	text-align: left;
	clear: both;
}
